/* 
    .top-section{
   
    
    
    }.top-section .img_container{
        width: 100%;
    }

    .name_product{
        color: rgb(33, 10, 88);
        display: flex;
        justify-content: space-between;
 
    padding-right: 50px;
    }
    .name_category{
        padding-left:50px;
    }

    .top-section {
        text-align: center;
        justify-content: center;
    }
    .top-section img{
    
        height: 400px;
        width: 100%;
        justify-content: center;
        text-align: center;
  
    }
        
      

        .main{
     
            width: 100%;
            border: 1px solid rgb(212, 209, 209);
            padding: 10px;
            margin: 20px;
     

        }

        .main_container_card{
            width: 400px;
            padding: 10px;
            margin: 20px;
        }
    .mainvalue{
      display: flex;
        flex-wrap: wrap; 

        justify-content: center;

.container-product{

    margin-top:15vh
}

    .nav{
        
        display: flex;
    justify-content: center;
        
    }
    .nav img{
    
        width: 50px;
        height: 60px;
        border: 2px solid #ddd;
        margin: 8px 2px;
        cursor: pointer;
        transition: 0.2s;
        
        }
        .nav img:hover{
            border-color:#020D75 ;
        }
        .price{
    
           
          
        
            float: right;
            color: #1e1663;
     
        


        }

    
        .product_info {
            text-align: left;
        padding: 4px;
        background: #020D75;
        }

        .product_info h2{
            color: rgb(66, 37, 145);
        }
        .dis{
    
            font-size: 16px;
     
            color: rgb(29, 7, 126);
        } 
        .deleteButton{
            text-align: right;
            color: rgb(11, 9, 124)    ;
        }

        .icon_del{
            color: rgb(230, 5, 5);
            width: 50px;
            height: 50px;
        }
        .buttondel{
            color: rgb(39, 17, 119);
           
        }

   */