.search-box{
/* position: absolute; */
/* transform: translate(-50%,-50%); */
background-color: white;
height: 20px;
/* border-radius: 40px; */
padding: 10px;
/* width: 20vw; */
/* width: 50px; */
}
.search-btn{
    /* position: fixed; */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(250, 237, 58);
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: rgb(29, 17, 136);
    

}
.searc-text{
/* width: 50%; */
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: rgb(36, 6, 85);
font-size: 16px;
transition: 0.4s;
line-height: 20px;
width: 30vw;
}
/* .search-box:hover >.searc-text{
  width: 30vw;
} */
/* .search-box:hover > .search-btn{
display: none; 


} */

@media(max-width:768px){
    .search-box{
        display: none;
    }
    }


    input[type=text] {
        width: 100%;
        /* margin-right: 120px; */
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: rgb(253, 250, 250);
        background-image: url('./serch/kisspng-material-font-search-icon-5b21819439b852.2823675615289225162364.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      
      /* input[type=text]:focus {
        width: 100%;
      } */