.toolbar{

    width:   100%;
    position: fixed;
    top: 0%;
    left: 0px;
    background-color:rgb(2, 13, 117);
    height: 70px;
    z-index: 1000 !important;
}

.toolbar_navigation{
     display: flex; 
     height: 100%;
     align-items: center;
     /* padding: 0 3rem; */
}
.toolbar_navigation_items a{
    color: white;
    text-decoration: none;
    padding: 10px;


}

.toolbar_navigation_items ul{
list-style: none;
padding:0%;
margin:0%;
display: flex;   

}

.toolbar_navigation_items li{

    padding: 0 4rem;
    color:white
}

.toolbar_navigation_items a:hover{

   
}

.toolbar_navigation_items a:active{
color:orange

}

.toolbar_logo{
    margin-left:0rem; 
    /* padding: 10px; */

}
.toolbar_logo a{
color: white;
text-decoration: none;
font-size: 3rem;
text-shadow: 2px 2px 8px rgb(43, 75, 219)
}

.spacer{
    justify-content: space-between;
    flex:1;
    /* padding:3px; */

}
@media(max-width:768px){
.toolbar_navigation_items{
    display: none;
}
}
@media(max-width:768px){
.serch-bar{

    display: none;
}
}
.serch-bar{
    width: 30%;
}


@media(min-width:769px){
    .tollbar-togle-button{

        display: none;
    
    }
    .toolbar_logo{
        margin-left:0; 
    }
    
}
.cartIcon{
    color: white;
    width: 70px;
    height: 60px;
}


nav .toolbarsecond{
	padding: 0;
	margin: 0;
	float: right;
    /* margin-right: 20px; */
    
}
nav .toolbarsecond li{
	background: #020D75;
	position: relative;
	list-style: none;
    display: inline-block;
   color: white;
}
nav .toolbarsecond li a{
	display: block;
	padding: 0 1px;
	color: white;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
	transition: .5s;
}


nav .toolbarsecond .list_show >li:hover{
    /* background:#020D75; */
    width: 150px;
    /* background-color:  rgb(248, 245, 247); */
    /* opacity: 0.9; */
    line-height: 20px !important;
    color: rgb(2, 13, 117);
}
nav .toolbarsecond .list_show >li :hover a{
    width: 150px;
    /* background-color: rgb(248, 245, 247); */
    color: rgb(2, 13, 117);
}
nav .toolbarsecond .list_show >li a{
    width: 170px;
    color:rgb(2, 13, 117);
}

nav .toolbarsecond ul{
	position: absolute;
    top: 60px;
    left: 80px;
	line-height: 20px !important;
	display: none;
}

nav .toolbarsecond :hover >.list_show {
    display: block;
    border-bottom: red 30px;
   
}
nav .toolbarsecond li:hover >.list_show a  {
   color: white;
   
}

nav .toolbarsecond li>.list_show li:hover {
    width: 160px;
   
opacity: 0.9;
    border-radius: 0px 5px 0px 0px;
    border-right-style: solid;
    border-right-color: #ffff
 }

nav .toolbarsecond ul li{
	/* width: 150px; */
	float: none;
	display: list-item;
	position: relative;
	line-height: 20px !important;
}

nav .toolbarsecond ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}
.auth ul li{
  
   color: white;
	list-style: none;
    display: inline-block;
    background: #020D75;
	position: relative;
	list-style: none;
  padding: 0px;
}
.list_show_more{
    position: absolute;
    left: 0px;
    top: 100px;
}

.effects{
position: relative;
top: 5px;
;
}
.effects:hover{

}

.fave_icon {
    color: red;
}
/* .list_show li a {
background-color: white;
} */





.product-navbar{
    width:   100%;
    align-items: center;
position: fixed;
top: 9%;
left: 0px;
background-color:rgb(247, 18, 18);
height: 60px;
/* z-index: 1000 !important; */
/* border:1px  solid rgba(0, 0, 0, 0.9);  */
border-bottom: 3px solid  rgba(0,0,0,0.1);
box-shadow: 5px rgba(167, 62, 62, 0.1);
}

.product_navigation {
    display: flex; 
    height: 100%;
    /* align-items: center; */

}
.product_navigation .input_serch_text{

  /* background-color: red; */
  width: 50%;
  /* height: 400px; */
 

}
