



/* 
.product-item{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 align-items: center;
    } */

.container_product{

/* margin-top: 7vh; */
/* padding: 100px; */
/* display: flex;
flex-wrap: wrap; */
/* justify-content: center;
align-items: center; */
}
.images_Container{
    width: 100%;
      display: flex;
    flex-wrap: wrap; 
    /* align-items: center;
    justify-content: center; */
     /* justify-content: space-between; */
/* /   flex: 1; */
  /* width: 100%; */
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* .big-card {
    width: 1000px;

    height: 700px;
    align-items: center;

height:auto;
border: 10px solid #ddd;
border-radius: 10px;
}
.big-card img{
    width: 100%;
    height: 60vh;
    } */









/* .item-slider{
    width: 100%;
    height: 200px; */
     /* background-color: red; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* position: absolute;
    bottom:-100px;
     */
    
 
/* cursor: pointer;
 
 background-color: white; 

} */


/* .slide-item {
    width: 200px;
    height: 100px; */
    /* display: inline-block; */
/* } */
/* .slide-item img{
    width: 100%;
    height: 100px;

     border: 2px solid #020D75;
border-radius: 20px;
    
    } */


    
    /* .slide-item img{
        width: 10vw;
    } */
    /*  .categ-info{
         width: 100vw;
         background-color: red;
     } */

    /* .space-between{
        height: 4px;
    } */
   
/*  @media (min-width: 500px) and (min-height: 600px) {
     .big-card .item-card img{
         width: 100px; 
         height: 10vh
     }




 }

 @media (min-width: 500px) and (min-height: 401px) {
     .big-card .item-card img{
         width: 400px;
         height: 20vh;
     }

 } 

 @media (min-width: 1000px) and (min-height: 700px) {
     .big-card .item-card img{
         width: 500px; 
         height: 10vh
     }


 }  */


 .product_infomation{
     /* width: 70vw; */
     /* height: 70vh; */
      /* background-color: white; */
 
 padding: 50px;
    }
 .product_description{
    
    
     margin-top: 0;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: rgb(41, 38, 194);
     text-align:  center ;
 }
 .product_price{
    
     /* line-height: 1.1;
     letter-spacing: 2.8px;
     font-weight: 900;
     color: red;
     text-align: center;
     letter-spacing: 2px; */
 }
 .pr-discription{
     /* width: 70vw; */
     /* height: 20vh; */
     background-color: white;

 }
 .pr-price {
     width: 30vw;
     /* height: 15vh; */
     background-color: white;
     text-transform: uppercase;
 }
 .Deliverd{
     background: linear-gradient(87deg, rgb(214, 64, 251), rgb(114, 112, 218));
     display: flex; 
     flex-wrap: wrap;
     height: auto; 
     width: auto;
    justify-content: center;
     padding: 20px 30px;
    color: rgb(252, 250, 131); }
 .delivery-product{
    
 /* margin-bottom: 100px; */
font-weight: 10px;
font-size: 20px;
   justify-content: center;
    
}
.addto_cart{
    text-align: center;
} 

.desc_ription{
    font-size: 30px;
    color: red;
}


.addto_box{
    width: 100%;
    height: auto;
      background-color: linear-gradient(87deg, rgb(41, 68, 221), rgb(114, 112, 218));
    -webkit-box-shadow: -8px 10px 11px 3px rgba(128,122,214,0.63);
-moz-box-shadow: -8px 10px 11px 3px rgba(128,122,214,0.63);
box-shadow: -8px 10px 11px 3px rgba(128,122,214,0.63);

float: right;
}

.description_auanttiy{
    display: flex;
    flex-wrap: wrap;
}

.description_auanttiy> h1{
    width:30%;
height: auto;
text-align: center;
    /* background-color: blue; */

}
.total_price{
    color: #C51162;
    font-family:fantasy;
    font-size: 40px;
    }
    .cart-images{
        width: 50px;
        height: 50px;
        margin: 5px;
        border: 3px solid #C51162
    }
    .check-container { 
        display: flex;
        flex-wrap: wrap;
        flex: 1
    }
    .checkout-out-product button{
        background-color:  #C51162;
        border: none;
        color: white;
        padding: 20px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
      
    }
    .escription_auanttiy{
        padding: 100px;
    }
/* ............................................................................................. */



.container-of_items {
    display: flex;
    width: 100%;
    padding: 1% 1%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box_items {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box_items > img {
    width: 100%;
    height: calc(100% - 0vh);
    object-fit: cover; 
    transition: .5s;
  }
  

  
  .box_items:hover { flex: 1 1 50%; }
  .box_items:hover > img {
    width: 100%;
    height: 100%;
  }
   

